.products {
    padding: 0 96px;
}

.products-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border: 1px solid #E5E5E5;
    border-width: 1px 0 1px 0;
}

.products-filter>div {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
}

.products-filter p {
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
}

.products-filter button {
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    background: none;
    color: #888792;
    font-family: inherit;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}



.products-filter select {
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-align: right;
}

.products-filter select>option {
    padding: 10px 10px;
    display: block;
    line-height: 40px;
    font-weight: 400;
    font-size: 18px;
    /* background: aqua; */
}


.products-allproducts {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 0;
}

.products-filter-options {
    width: 300px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.products-filter-options.open {
    display: flex;
}

.products-filter-options hr {
    height: 1px;
    width: 100%;
    background: #E5E5E5;
    border: none;
}

.products-filter-options label {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #252020;

}

.products-filter-options label input {
    height: 22px;
    width: 22px;
}

.products-filter-container {
    padding: 10px 0;
    display: grid;
    gap: 10px;
}

.products-filter-container button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #252020;
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    padding: 10px 0;
}


.products-filter-container h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #252020;
    cursor: pointer;
}

.products-filter-container button span {
    transform: rotate(0deg);
}

.products-filter-container h5 span {
    transform: rotate(180deg);
}

.products-filter-container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #252020;
}

.filter-section button {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #BFC8CD;
    text-decoration: underline;
    background: transparent;
    border: none;
    margin-bottom: 10px;
}

.products-filter-container label {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;

}




.products-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}


@media (max-width:600px) {
    .products {
        padding: 0 16px;
    }

    .products-filter {
        justify-content: space-around;
    }

    .products-filter p {
        display: none;
    }

    .products-container {
        flex: 1;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
    }



}