* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SimplonNorm";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SimplonNorm";
  src: local("SimplonNorm"),
    url("./fonts/SimplonNorm-Regular.otf") format("opentype");
  font-weight: normal;
}